.badge-status {
    width: 6.8em;
}

.badge-pending{
    background-color: #fb8c00;
    color: white;
}

.badge-approved {
    background-color: #227EA9;
    color: white;
}

.badge-rejected {
    background-color: #E52924;
    color: white;
}

.badge-cancelled {
    background-color: #ff0066;
    color: white;
}

.badge-done {
    background-color: #1FAE1D;
    color: white;
}

.badge-archived {
    background-color: #737373;
    color: white;
}


.badge-inactive{
    background-color: #fb8c00;
    color: white;
}


.badge-active {
    background-color: #1FAE1D;
    color: white;
}
